@model DotNet_OneToMany_Dish.Models.Chef

<div>

    <form asp-action="CreateChef" asp-controller="Home" method="post">
        <span asp-validation-for="Name"/>
        <label asp-for="Name">Name</label>
        <input asp-for="Name" type="text" />
        <label asp-for="DOB">Date of Birth</label>
        <input asp-for="DOB" type="text"/>
        <button type="submit">Add Chef</button>
    </form>

</div>