@model DotNet_OneToMany_Dish.Models.Dish


<div>
    <form asp-action="CreateDish" asp-controller="Home" method="post">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" type="text"/>

        <label asp-for="Calories">Calories</label>
        <input asp-for="Calories" type="number" />

        <label asp-for="Tastiness">Tastiness</label>
        <input asp-for="Tastiness" type="number" />

        <label asp-for="Description">Description</label>
        <input asp-for="Description" type="text" />

        <label asp-for="Description">Chef</label>
        @* @Html.DropDownListFor(x => x.Chef, new SelectList(ViewBag.Chefs)) *@
        <select name="Chef">

            @{
                foreach(var x in ViewBag.Chefs)
                {
                    <option value="@x.Id">@x.Name</option>
                }
            }
           
        </select>

        <button type="submit">Create Dish</button>
    </form>
</div>