@model DotNet_OneToMany_Dish.Models.Dish

<div>
    <form asp-action="CreateDish" asp-controller="Home" method="post">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" type="text"/>

        <label asp-for="Calories">Calories</label>
        <input asp-for="Calories" type="text" />

        <label asp-for="Calories">Calories</label>
        <input asp-for="Calories" type="text" />

        <label asp-for="Calories">Calories</label>
        <input asp-for="Calories" type="text" />

        <button type="submit">Create Dish</button>
    </form>
</div>