@model List<Chef>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="CreateChefView">Add Chef</a>
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="CreateDishView">Add Dish</a>


    @if(Model != null){


        foreach(var x in Model)
        {
            <p>@x.Name</p>
        }




    }

        </div>
